.u-section-1 {
  background-image: none;
}
.u-section-1 .u-sheet-1 {
  min-height: 690px;
}
.u-section-1 .u-layout-wrap-1 {
  margin: 65px auto 0 0;
}
.u-section-1 .u-layout-cell-1 {
  min-height: 625px;
}
.u-section-1 .u-container-layout-1 {
  padding: 60px 40px;
}
.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 65px 0 0;
}
.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 5.125rem;
  margin: 20px 0 0;
}
.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 31px 65px 0 0;
}
body {
  background-color: #fff;
}
.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  margin: 33px auto 0 0;
  padding: 12px 58px 13px;
}
.u-section-1 .u-image-1 {
  min-height: 625px;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/2e8174baa9715fb8ab683245/2956min.jpg");
  background-position: 50% 50%;
}
.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
  }
  .u-section-1 .u-text-1 {
    margin-right: auto;
  }
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
  .u-section-1 .u-text-3 {
    margin-right: auto;
  }
  .u-section-1 .u-image-1 {
    min-height: 515px;
  }
}
@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
  .u-section-1 .u-image-1 {
    min-height: 394px;
  }
}
@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
  .u-section-1 .u-image-1 {
    min-height: 611px;
  }
}
@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
  .u-section-1 .u-image-1 {
    min-height: 385px;
  }
}
