input[type="search"] {
  width: 15rem;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  border-style: none;
  box-shadow: 2px 5px 15px 1px #d3d3c3ee;
}

.search-icon {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  padding: 10px;
  align-items: center;
  margin-top: 2px;
  color: gray;
}
