.hero-section {
  background-color: #7ca870;
  height: 45vh;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}

.hero-section p:nth-child(1) {
  color: #fff;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 23px;
}

.hero-section p:nth-child(2) {
  color: #fff;
  padding-left: 20px;
  font-size: 35px;
  line-height: 5px;
  font-weight: bold;
}

.hero-section p:nth-child(3) {
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 20px;
  cursor: pointer;
}
